/**************************/
/* BELOW 375px (Phones) */
/**************************/

@media (max-width: 23.5em) {
  .section-hero {
    padding-top: 5.6rem;
    padding-bottom: 8.3rem;
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .hero-name {
    text-shadow: none;
    -webkit-text-stroke: 0;
  }

  .hero-text-box {
    grid-template-columns: repeat(2, auto);
    row-gap: 2.3rem;
    align-items: flex-start;
  }

  .hero-about-me {
    transform: none;
  }

  .hero-languages {
    display: none;
  }

  .btn-mobile-nav {
    display: block;
    grid-column: 2;
    grid-row: 1;
    margin-top: 1.2rem;
  }

  .hero-img-box {
    margin-top: 3.8rem;
    height: 47.9rem;
    background-size: 140%;
    background-position: top 100% right 50%;
    background-repeat: no-repeat;
  }

  .section-about-me {
    padding-top: 7.4rem;
    padding-bottom: 7.7rem;
  }

  .about-me-text-box {
    margin-top: 3.5rem;
    height: 26.3rem;
  }

  .new-line-mb {
    display: inline;
  }

  .new-line-dt {
    display: none;
  }

  .skills {
    padding-top: 7.6rem;
    padding-bottom: 10.2rem;
  }

  .margin-top-sk {
    margin-top: 3.8rem;
  }

  .margin-top-st {
    margin-top: 0;
  }

  .skills-programs {
    margin-top: 7.6rem;
  }

  .skills-programs {
    flex-direction: column;
    gap: 8.7rem;
  }

  .skills-program {
    height: 20.1rem;
  }

  .skills-rating {
    margin-top: auto;
  }

  /**************************/
  /* PORTFOLIO SECTION */
  /**************************/

  .portfolio {
    padding-top: 7.4rem;
    padding-bottom: 9.1rem;
  }

  .portfolio-examples {
    gap: 8.1rem;
    margin-top: 7.3rem;
  }

  .portfolio-example-text {
    margin-top: 2.6rem;
  }
}
