/**************************/
/* BELOW 375px (Phones) */
/**************************/

@media (max-width: 23.5em) {
  /**************************/
  /* HERO SECTION */
  /**************************/

  .section-hero {
    padding-top: 5.6rem;
    padding-bottom: 8.3rem;
  }

  .main-nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 6.3rem 2.6rem 8.5rem 2.7rem;
    transform: translateX(100%);
    transition: all 0.5s ease-in;

    display: grid;
    grid-template-columns: 2 auto;
    grid-template-rows: 2 auto;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .btn-mobile-nav-close {
    display: block;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: flex-start;
  }

  .nav-open .icon-mobile-nav-close {
    display: block;
  }

  .nav-open .icon-mobile-nav-open {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 5.7rem;
    border: none;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.4rem;
  }

  .header .hero-languages {
    display: block;
    grid-column: 2;
    align-self: flex-end;
    justify-self: flex-end;
    transform: none;
    font-size: 3.4rem;
  }

  .hero-name {
    text-shadow: none;
    -webkit-text-stroke: 0;
  }

  .hero-text-box {
    grid-template-columns: repeat(2, auto);
    row-gap: 2.3rem;
    align-items: flex-start;
  }

  .hero-about-me {
    transform: none;
  }

  .hero-languages {
    display: none;
  }

  .btn-mobile-nav-open {
    display: block;
    grid-column: 2;
    grid-row: 1;
    margin-top: 1.2rem;
  }

  .hero-img-box {
    margin-top: 3.8rem;
    height: 47.9rem;
    background-size: 140%;
    background-position: top 100% right 50%;
    background-repeat: no-repeat;
  }

  /**************************/
  /* ABOUT ME SECTION */
  /**************************/

  .section-about-me {
    padding-top: 7.4rem;
    padding-bottom: 7.7rem;
  }

  .about-me-text-box {
    margin-top: 3.5rem;
    height: 26.3rem;
  }

  .new-line-mb {
    display: inline;
  }

  .new-line-dt {
    display: none;
  }

  /**************************/
  /* SKILLS SECTION */
  /**************************/

  .skills {
    padding-top: 7.6rem;
    padding-bottom: 10.2rem;
  }

  .margin-top-sk {
    margin-top: 3.8rem;
  }

  .margin-top-st {
    margin-top: 0;
  }

  .skills-programs {
    margin-top: 7.6rem;
  }

  .skills-programs {
    flex-direction: column;
    gap: 8.7rem;
  }

  .skills-program {
    height: 20.1rem;
  }

  .skills-rating {
    margin-top: auto;
  }

  /**************************/
  /* PORTFOLIO SECTION */
  /**************************/

  .portfolio {
    padding-top: 7.4rem;
    padding-bottom: 9.1rem;
  }

  .portfolio-examples {
    gap: 8.1rem;
    margin-top: 7.3rem;
  }

  .portfolio-example-text {
    margin-top: 2.6rem;
  }

  /**************************/
  /* CONTACTS SECTION */
  /**************************/

  .contacts {
    padding-top: 7.5rem;
    padding-bottom: 11.3rem;
  }

  .contacts-subtext {
    margin-top: 3.2rem;
    margin-bottom: 4.3rem;
  }

  .contacts-cta:link,
  .contacts-cta:visited {
    display: block;
  }

  .contacts-network {
    width: 100%;
    margin: 4.7rem auto 4.6rem auto;
  }

  .contacts-network-subtext {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
