/**************************/
/* HEADER */
/**************************/

/* .header {
  height: 8.8rem;
} */

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 8.8rem;
  border-bottom: 1px solid #828282;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-weight: 700;
  font-size: 1.8rem;
  color: #828282;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #070707;
}

.main-nav-link__active:link,
.main-nav-link__active:visited {
  color: #070707;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  padding-top: 3.2rem;
  padding-bottom: 10.4rem;
}

.hero-text-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-name {
  font-size: 4.73392rem;
  width: 12.4rem;
  line-height: 1.2;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #000;
  -webkit-text-fill-color: #070707;
}

.hero-about-me {
  font-size: 1.8rem;
  line-height: 1.2;
}

.hero-languages {
  /* width: 7.2rem; */
  font-size: 1.6rem;
  font-weight: 700;

  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.hero-languages-ru {
  color: #828282;
}

.hero-img-box {
  height: 38.7rem;
  background: url(/img/person.jpg);
  background-size: cover;
  background-position: top 43% right;
  margin-top: 4rem;
}

/**************************/
/* ABOUT ME SECTION */
/**************************/

.section-about-me {
  background-color: #f6f6f6;
  padding-top: 11.5rem;
  padding-bottom: 10.7rem;
}

.about-me-text-box {
  margin-top: 2.4rem;
  height: 21.8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
