/**************************/
/* HEADER */
/**************************/

/* .header {
  height: 8.8rem;
} */

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 8.8rem;
  border-bottom: 1px solid #828282;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-weight: 700;
  font-size: 1.8rem;
  color: #828282;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #070707;
}

.main-nav-link__active:link,
.main-nav-link__active:visited {
  color: #070707;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  padding-top: 3.2rem;
  padding-bottom: 10.4rem;
}

.hero-text-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-name {
  font-size: 4.73392rem;
  width: 12.4rem;
  line-height: 1.2;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #000;
  -webkit-text-fill-color: #070707;
}

.hero-about-me {
  font-size: 1.8rem;
  line-height: 1.2;
  transform: translate(-28px, -10px);
}

.hero-languages {
  /* width: 7.2rem; */
  font-size: 1.6rem;
  font-weight: 700;

  writing-mode: vertical-lr;
  transform: rotate(180deg) translate(0, 10px);
}

.hero-languages-ru {
  color: #828282;
}

.hero-img-box {
  height: 38.7rem;
  background: url(/img/person.jpg);
  background-size: cover;
  background-position: top 44% right;
  margin-top: 4.3rem;
}

/**************************/
/* ABOUT ME SECTION */
/**************************/

.section-about-me {
  background-color: #f6f6f6;
  padding-top: 11.5rem;
  padding-bottom: 10.8rem;
}

.about-me-text-box {
  margin-top: 2.3rem;
  height: 21.8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/**************************/
/* SKILLS SECTION */
/**************************/

.skills {
  padding-top: 8.4rem;
  padding-bottom: 11.6rem;
}

.skills-programs {
  margin-top: 8.8rem;
  display: flex;
  justify-content: space-between;
}

.skills-program {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-logo {
  margin-bottom: 2.1rem;
}

.skills-rating {
  margin-top: 3.7rem;
  display: flex;
  gap: 1.4rem;
}

.black-star {
  fill: #070707;
}

.white-star {
  fill: #e5e5e5;
}

/**************************/
/* PORTFOLIO SECTION */
/**************************/

.section-portfolio {
  background-color: #f6f6f6;
}

.portfolio {
  padding-top: 10.6rem;
  padding-bottom: 10.5rem;
}

.portfolio-examples {
  display: flex;
  flex-direction: column;
  gap: 9.9rem;
  margin-top: 5.5rem;
  /* padding: 0 0.25rem; */
}

.portfolio-example-img {
  width: 100%;
}

.portfolio-example-text {
  text-align: center;
  margin-top: 3.8rem;
}

.portfolio-example-link:link,
.portfolio-example-link:visited {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #070707;
}

/**************************/
/* CONTACTS SECTION */
/**************************/

.contacts {
  padding-top: 10.7rem;
  padding-bottom: 12.3rem;
}

.contacts-subtext {
  margin-top: 2.5rem;
  margin-bottom: 3.3rem;
}

.contacts-cta-box {
  text-align: center;
}

.contacts-cta:link,
.contacts-cta:visited {
  display: inline-block;
  font-size: 1.8rem;
  background-color: #070707;
  padding: 1.2rem 3rem;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
}

.contacts-network {
  width: 34.2rem;
  margin: 8.6rem auto 4.3rem auto;
  display: flex;
  justify-content: space-between;
}

.contacts-network-subtext {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  color: #828282;
}
